body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.text-default-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.text-default-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
