$secondary: #3E79AF;
$secondary-light: #609CD4;
$text-color: #FCFAFA;
$overlay-color: rgba(0, 0, 0, 0.267);
$sidebar-background: #1A1918;
$sidebar-text: #CCC6C6;
$sidebar-active: #FCFAFA;
$sidebar-item-active: #2A2927;
$shadow-box: #3E79AF4D;
$shadow-box-light: #3E79AF1A;
$background-template: #F8F4F4;
$border-color: #CCC6C6;
$template-list-text-color: #F8F4F4;
$breadcrumb-active: #736A6A;
$title-partner-details: #736A6A;
$hover-list-background: #E1EBF4;
$active-list-text: #3E79AF;
$section-text-color: #736A6A;
$background-identify-card: #F8F4F4;
$background-color-on-hover: #f6f6f6;
